.selecionado {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

::ng-deep.card-stats {
  cursor: pointer;
}

::ng-deep .popover-body {
  border-radius: 0px 0px 7px 7px !important;
  background-color: purple !important;
  width: 550px;
}

::ng-deep .popover-header.ng-star-inserted {
  width: 550px;
}

::ng-deep .col-md-5,
div.form-group {
  margin-bottom: 0px !important;
}

::ng-deep .col-md-5,
div.form-group,
label {
  margin-bottom: 0px !important;
}

.popover_label::after {
  content: ":";
  text-align: right;
  float: right;
  font-weight: bold;
  color: white;
}
::ng-deep .popover-body > span > div > div > div > label {
  color: white;
}

::ng-deep .bs-popover-right > .arrow::after {
  border-right-color: purple !important;
}
