<h1 mat-dialog-title></h1>
<mat-dialog-content class="mat-typography">
  <p>Filtros </p>

  <p>Pesquisar pelo ID</p>
  <mat-form-field>
    <input matInput [(ngModel)]="id">
  </mat-form-field>

    <p>Pesquisar pelo UnitName</p>
    <mat-form-field>
      <input matInput [(ngModel)]="unitName">
    </mat-form-field>

    <p>Pesquisar pelo ClassName</p>
    <mat-form-field>
      <input matInput [(ngModel)]="className">
    </mat-form-field>

    <p>Pesquisar pelo ComponentName</p>
    <mat-form-field>
      <input matInput [(ngModel)]="componentName">
    </mat-form-field>

    <p>Pesquisar pelo ImportantLine</p>
    <mat-form-field>
      <input matInput [(ngModel)]="importantLine">
    </mat-form-field>

    <p>Pesquisar pelo Detail</p>
    <mat-form-field>
      <input matInput [(ngModel)]="detail">
    </mat-form-field>

    <p>Pesquisar pelo VersionName</p>
    <mat-form-field>
      <input matInput [(ngModel)]="versionName">
    </mat-form-field>

    <p>Pesquisar pelo Aplicacao</p>
    <mat-form-field>
      <input matInput [(ngModel)]="aplicacao">
    </mat-form-field>




      <p>Pesquisar pelo VersionType</p>
      <mat-form-field>
        <input matInput [(ngModel)]="versionType">
      </mat-form-field>



<div *ngIf="exception">{{exception.aplicacao}}</div>
 
<div mat-dialog-actions>

  <button mat-button (click)="onNoClick()">Sair</button>
  <button (click)="pesquisar()">Pesquisa</button>

</div>
</mat-dialog-content>