<div class="card">
  <div class="card-header">
    <h5 class="card-title">Exceções (%)</h5>
    <p class="card-category">
      Distribuição das Exceções ocorridas - Geral
    </p>
  </div>
  <div class="card-body">
    <canvas id="summaryChart"></canvas>
  </div>
  <div class="card-footer" style="margin: 3px;">
    <div class="row legend" style="min-width: 100%;">
      <span
        class="col-md-6 clicavel"
        *ngFor="let legend of legends"
        [style.color]="legend.color"
        (click)="labelClicked(legend.nome)"
      >
        <i class="fa fa-circle" [style.color]="legend.color"></i>
        {{ legend.nome }}
      </span>
    </div>
    <hr />
  </div>
</div>
